include ../_vendor/bemto/bemto
//- include ../_blocks/

block variables

doctype html
html
    include ../_partials/head
    body(class = bodyClass ? bodyClass : '')
        include ../_partials/header

        block content

        include ../_partials/footer
        include ../_partials/scripts
        block scripts
