// supporting oldies, for iE9 call mixin with +ie(9)
ie($version, $strict = false)
  if ($is-ie == true)
    if($strict == true)
      if ($is-ie--version == $version)
        {block}
    else
      if ($is-ie--version <= $version)
        {block}


text-hide()
  border 0
  font 0/0 a
  text-shadow none
  color transparent
  background-color transparent


clearfix()
  &::after
    content ""
    display table
    clear both


// non-standart underline for links, used instead of link's border-bottom to save link's paddings. for 1-lines, so don't use without text-ellipsis() or another mixin for overflow-protection
underline(vert, hor, style)
  &::after
    content ""
    position absolute
    bottom vert
    left hor
    right hor
    border-bottom 1px style


// 1-line overflow-protection
text-ellipsis()
  text-overflow ellipsis
  overflow hidden
  white-space nowrap


word-wrap()
  overflow-wrap break-word
  word-wrap break-word
  word-break break-all
  hyphens manual


line(color)
  content ""
  position absolute
  left 0
  right 0
  height 1px
  background-color color


no-pseudo()
  &:before,
  &:after
    content none


cross(height, width, color)
  position relative
  btn-clean()
  text-hide()
  &::before,
  &::after
    content ""
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    width width
    height height
    background-color color
  &::before
    transform skew(-45deg)
  &::after
    transform skew(45deg)

  &:hover::before,
  &:hover::after
    background-color lighten(color, 30%)




